<div class="component-container">
<div class="form-container">
    
<form #expensesForm="ngForm" (ngSubmit)="onSubmit(expensesForm)">
    <div class="total">Total: {{total}}</div>
    <label>Concept</label>
    <input  class="text-input" name="concept" type="text" ngModel>
    <label *ngIf="!month && !year">Date</label>
    <input *ngIf="!month && !year" class="text-input" type="date" name="date" [(ngModel)]="date">
    <label *ngIf="!date && !year">Month</label>
    <input *ngIf="!date && !year" class="text-input" type="month" name="month" [(ngModel)]="month">
    <label *ngIf="!date && !month">Year</label>
    <input *ngIf="!date && !month" class="text-input" type="number" name="year" [(ngModel)]="year">
    <input class="submit-btn" type="submit" value="Get information">
    
</form>

</div>
<div class="graph-container">
    <app-graph></app-graph>
</div>
    


</div>