*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
#navbar{

    background-color: rgb(32,35,42);
    height: 80px;
    width: 100%;
    padding: 30px;
}

li{
    display: inline; 
}
a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Helvetica,Arial;
    margin-left: 25px;
    cursor: pointer;
    
}