*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.navbar {
    display:flex;
    background-color: rgb(32,35,42);
    height: 80px;
    width: 100%;
    padding: 30px 5px;
    justify-content: flex-start;
}

.navbar__link-container {
    margin-left: 25px;
}

.navbar__link-container.navbar__logout-container {
    justify-self: flex-end;
}

a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Helvetica,Arial;
    cursor: pointer;
}

a:hover {
    font-size: 16px;
} 
/* #navbar{

    background-color: rgb(32,35,42);
    height: 80px;
    width: 100%;
    padding: 30px;
}

li{
    display: inline; 
}
a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Helvetica,Arial;
    margin-left: 25px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    font-size: 16px;
} */