<nav id="navbar" class="navbar">
    <svg viewBox="0 0 100 80" width="35" height="35" class="navbar__ham-menu" (touchstart)='onTouchStart($event)'>
        <rect width="100" height="20"></rect>
        <rect y="30" width="100" height="20"></rect>
        <rect y="60" width="100" height="20"></rect>
    </svg>
    
    <!-- <div routerLinkActive="active" class="navbar__link-container" *ngIf="!isLoggedIn"><a [routerLink]="['login']">Log in</a></div>
    <div routerLinkActive="active" class="navbar__link-container" *ngIf="!isLoggedIn"><a [routerLink]="['signup']">Sign up</a></div>
    <div routerLinkActive="active" class="navbar__link-container" *ngIf="isLoggedIn"><a [routerLink]="['ticket']">Nuevo Ticket</a></div>
    <div routerLinkActive="active" class="navbar__link-container" *ngIf="isLoggedIn"><a [routerLink]="['ticket-list']">Listado de tickets</a></div>
    <div routerLinkActive="active" class="navbar__link-container" *ngIf="isLoggedIn"><a [routerLink]="['income-statement']">Estado de resultados</a></div>
    <div routerLinkActive="active" class="navbar__link-container" *ngIf="isLoggedIn"><a [routerLink]="['graphics']" >Gráficas</a></div>
    <div routerLinkActive="active" class="navbar__link-container" *ngIf="isLoggedIn"><a [routerLink]="['other-graphics']" >Gráficas comparativas</a></div>
    <div *ngIf="isLoggedIn" class="navbar__link-container navbar__logout-container"><a (click)="onLogout()">Log out</a></div> -->
      
</nav>
 <div class="navbar__modal-back" *ngIf='showModal' (touchstart)=onTouchStart($event)></div>
 <div class="navbar__modal" *ngIf='showModal'>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['login']">Log in</a></div>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['signup']">Sign up</a></div>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['ticket']">Nuevo Ticket</a></div>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['ticket-list']">Listado de tickets</a></div>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['income-statement']">Estado de resultados</a></div>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['graphics']" >Gráficas</a></div>
    <div routerLinkActive="active" class="navbar__link-container"><a [routerLink]="['other-graphics']" >Gráficas comparativas</a></div>
    <div *ngIf="isLoggedIn" class="navbar__link-container navbar__logout-container"><a>Log out</a></div>
</div> 


<!-- <nav id="navbar">
    <div>
        <ul>
            <li routerLinkActive="active" *ngIf="!isLoggedIn"><a [routerLink]="['login']">Log in</a></li>
            <li routerLinkActive="active" *ngIf="!isLoggedIn"><a [routerLink]="['signup']">Sign up</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn"><a [routerLink]="['ticket']">Nuevo Ticket</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn"><a [routerLink]="['ticket-list']">Listado de tickets</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn"><a [routerLink]="['income-statement']">Estado de resultados</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn"><a [routerLink]="['graphics']" >Gráficas</a></li>
            <li routerLinkActive="active" *ngIf="isLoggedIn"><a [routerLink]="['other-graphics']" >Gráficas comparativas</a></li>
   
            
            
            <li *ngIf="isLoggedIn"><a (click)="onLogout()">Log out</a></li>
        </ul>
    </div>  
</nav> -->

