:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-control {   
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%; 
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
  }

  .form-control:focus {
    border-bottom: solid 1px #b69de6;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
  }

  .btn{
    margin-top: 15px;
    height: 2.5rem;
    background-color: rgba(32,35,42,.9);
    color:white;
    width:100%;
}

.second-form {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    width: 87%;
}

.showsecondform-btn{
    background-color: rgb(97, 218, 251);
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.back-btn {
    background-color:rgb(97, 218, 251);
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.pages {
    background-color: rgba(32,35,42,.9);
    color:white;
    padding:10px 10px;
}

.pages-btn-cont {
    display: flex;
    align-items: center;
}

.pages-btn {
    background-color:rgb(97, 218, 251);
    color: black;
    border: none;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
}

@media screen and (min-width:768px) {
    .form {
        padding-top: 100px;
    }
}

@media screen and (min-width:1024px) {
    :host {
        flex-direction:row;
    }

    .sidebar {
        
        align-items: center;
    }

    .form {
        padding-top: 0;
    }
  }






/* :host{
    margin:1px solid black;
    display: flex;
}

.sidebar{
    padding-top: 20px;
    background-color:white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
}

input{
    -webkit-appearance: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #dddddd;
    height: 2.2rem;
}

input::placeholder{
    color:#bbbbbb
}

.btn{
    margin-top: 15px;
    height: 2.5rem;
    background-color: rgba(32,35,42,.9);
    color:white;
}

.last-form-group{
    margin-bottom: 0;
}

.tickets-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min-content, 1fr));
    grid-template-rows: 300px 300px 300px 300px 150px;
    background-color: rgb(64, 74, 83);
    flex-grow: 1;
    grid-auto-flow:column;
    
}

.pages{
    grid-column: 1/4;
    grid-row:5/6;
    background-color: white;
}

.error-msg{
    background-color: #BA372A;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.error-msg__graph{
    width: 90%;
    align-self: center;
} */
