:host{
    margin:1px solid black;
    display: flex;
}

.sidebar{
    padding-top: 20px;
    background-color:white;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group{
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
}

input{
    -webkit-appearance: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #dddddd;
    height: 2.2rem;
}

input::placeholder{
    color:#bbbbbb
}

.btn{
    margin-top: 15px;
    height: 2.5rem;
    background-color: rgba(32,35,42,.9);
    color:white;
}

.last-form-group{
    margin-bottom: 0;
}

.tickets-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min-content,1fr));
    grid-template-rows: 300px 300px 300px 300px 150px;
    background-color: rgb(64, 74, 83);
    flex-grow: 1;
    grid-auto-flow:column;
    
}

.pages{
    grid-column: 1/4;
    grid-row:5/6;
    background-color: white;
}

.error-msg{
    background-color: #BA372A;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.error-msg__graph{
    width: 90%;
    align-self: center;
}
