:host{
    display:flex;
    width: 100%;
}

.error-msg{
    background-color: #BA372A;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.form-container{
    padding-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 44, 52);
    min-height: 100vh;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-control{
    -webkit-appearance: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #dddddd;
    height: 2.2rem;
}

.total{
    color: white;
    font-size: 1.5rem;
}

.label{
    color:rgb(97, 218, 251);
}

input[type='submit'] {
    background-color: rgb(26, 32, 45);
    height: 2.5rem;
    color:white;
    border-radius: 4px;
    margin-top: 15px;
}

input[type='submit']:hover{
    cursor: pointer;
}

.graph-container{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.graph-type-container{
    display: flex;
    cursor: pointer;
    background-color: #c8d6e5;
    padding: 2px 5px;
    width: fit-content;
}

.graph-type-button{
    margin-left:5px;
    margin-right: 5px;
}

.error-msg__graph{
    width: 90%;
    align-self: center;
}



