.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-back{
    background-color: #000;
    opacity: 0.65;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:900;
}

.modal-main{
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 30px;
    width: 90%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.modal__text {
    width: 90%;
    text-align: center;
}

.modal-buttons-container {
    display: flex;
    width: 90%;
}

.modal__delete-btn {
    background-color: #BA372A;
    color: white;
    border: none;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.modal__cancel-btn {
    background-color: rgba(32,35,42,.9);
    color: white;
    border: none;
    border-radius: .25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
}