.modal-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-back{
    background-color: #000;
    opacity: 0.65;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:900;
}

.modal-main{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}