<div class="form-container">
    <form #LoginForm="ngForm" class="form-container__form" (ngSubmit)="onSubmit(LoginForm)">
        <h2 class="form-title">Log in</h2>
        <div class="form-group">
            <input class="text-input email-input" type="email" name="email" placeholder="Ingresa tu email" autocomplete="off" ngModel required >
        </div>
        <div class="form-group">
            <input class="text-input" type="password" name="password" placeholder="Ingresa tu contraseña" autocomplete="off" ngModel required minlength="8"> 
        </div>
        <div class="form-group last-form-group">
            <input type="submit" value="Log in" [disabled]='!LoginForm.valid'>     
        </div>
        <div class="form-container__buttons-container">
            <div class="form-container__google-btn" (click)="_googleAuth.GoogleAuth()"></div>
            <!--<button class="form-container__log-out-btn" (click)="_googleAuth.signOut()" *ngIf="isLoggedIn">Log out</button>-->
        </div>
    </form>
    
    
</div> 


