<div class="component-container">

<div class="form-container">
    <h2 class="form-title">Log in</h2>
    <form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)">
        <p>
            <label for="email">
                Email
            </label>
            <input class="text-input" type="email" name="email" ngModel required >
            <!--<span>El campo es obligatorio</span>-->
    
        </p>
        <p>
            <label for="password">
                Password
            </label>
            <input class="text-input" type="password" name="password" ngModel required minlength="8"> 
           <!--<span>El campo es obligatorio</span>-->
    
        </p>
        <p>
            <input type="submit" value="Log in" [disabled]='!LoginForm.valid'>
                
        </p>
    </form>
    
</div>
</div>

