:host{
    display:flex;
    min-height: 600px;
}

.form-container{
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: rgb(40, 44, 52);
}

form{
    display: flex;
    flex-direction: column;
}

.total{
    color: white;
    font-size: 1.5rem;
}

.label{
    color:rgb(97, 218, 251);
}

input{
    margin:0;
}

input[type='submit'] {
    width: 100%;
    padding:1rem;
    font-size: 1rem;
    color:white;
    background-color: rgb(26, 32, 45);
    
}

input[type='submit']:hover{
    cursor: pointer;
}

.graph-container{
    flex-grow: 1;
}

.total{
    width:50%;
}


.text-input{
    display:block;
    width:90%;
}


