<div class="form-container">
    <!-- <div class="error-msg" 
        *ngIf="errorReq === 'No se encontraron tickets de gasto en este período'"
    >
        {{errorReq}}
    </div> -->
    <form class="form1" #expensesForm="ngForm" (ngSubmit)="onSubmit(expensesForm)">
        <div class='form-group' *ngIf='!year'>
            <label class="label">Mes</label>
            <input class="form-control" type="month" name="month" [(ngModel)]="month">
        </div>
        <div class='form-group' *ngIf='!month'>
            <label class="label">Año</label>
            <input class="form-control" type="number" name="year" placeholder="yyyy ej: 2020" [(ngModel)]="year">
        </div>
        <div class='form-group submit-btn-container'>
            <input class="submit-btn" type="submit" value="Enviar">
        </div>
        <div class="error" *ngIf="error">Es necesario llenar por lo menos un campo</div>
    </form>
    <div class="total" *ngIf="total">Total: $ {{total}}</div>
</div>
<div class="graph-container">
    <div class="graph-type-container">
        <div (click)="changeGraphType($event)"
            class="graph-type-button"
        >Líneas</div>
        <div class='graph-container__middot'>&middot;</div>
        <div (click)="changeGraphType($event)"
            class="graph-type-button"
        >Pastel</div>
        <div class='graph-container__middot'>&middot;</div>
        <div (click)="changeGraphType($event)"
            class="graph-type-button"
        >Barras</div>
    </div>
    <div class="error-msg error-msg__graph" 
        *ngIf="errorReq"
    >
        {{errorReq}}
    </div>

    <canvas baseChart *ngIf = "barChartData"
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
    </canvas>
</div>


