<div class="main">
    <div class="step-group">
        <h2 class="title">{{newticketTitle}}</h2>
        <div class="step">{{newticket}}</div>
    </div>
    
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/create-ticket1.png">
    </div>
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/create-ticket2.png">
    </div>
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/create-ticket3.png">
    </div>
    <div class="step-group">
        <h2 class="title">{{ticketlistTitle}}</h2>
        <div class="step">{{ticketlist}}</div>
    </div>
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/ticket-list.png">
    </div>
    <div class="step-group">
        <h2 class="title">{{incomestateTitle}}</h2>
    <div class="step">{{incomestate}}</div>
    </div>
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/income-state.png">
    </div>
    <div class="step-group">
        <div class="step">{{incomestate2}}</div>
    </div>
    
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/income-state-income.png">
    </div>
    <div class="step-group">
        <h2 class="title">{{graphicsTitle}}</h2>
        <div class="step">{{graphics}}</div>
    </div>
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/graphics.png">
    </div>
    <div class="step-group">
        <div class="step">{{graphics2}}</div>
    </div>
    <div class="step-group comparative-graphics-group">
    <h2 class="title">{{comparativegraphicsTitle}}</h2>
    <div class="step">{{comparativegraphics}}</div>
    </div>
    <div class="img-cont">
        <img class="img" src="../../../assets/imgs/comparative-graphics.png">
    </div>
    <div class="step-group">
        <div class="step">{{comparativegraphics2}}</div>
    </div>
</div>


