<h2 class="title">{{newticketTitle}}</h2>
<div class="step">{{newticket}}</div>
<div class="img-cont">
    <img class="img" src="../../../assets/imgs/create-ticket1.png">
</div>
<div class="img-cont">
    <img class="img" src="../../../assets/imgs/create-ticket2.png">
</div>
<div class="img-cont">
    <img class="img" src="../../../assets/imgs/create-ticket3.png">
</div>
<h2 class="title">{{ticketlistTitle}}</h2>
<div class="step">{{ticketlist}}</div>
<div class="img-cont">
    <img class="img" src="../../../assets/imgs/ticket-list.png">
</div>
<div class="step"></div>
