:host{
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 50px;
    margin:1rem;
    position: relative;
    justify-content: center;
}

.x-button{
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4px 10px;
    /* padding: 8px 20px; */
    cursor: pointer;
    /* flex-basis: 15px; */
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 1px;
    border-top-right-radius:50px;
}

.concept-amount-container{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.concept{
    font-size: 1.3rem;
    width: 70%;
}

.amount{
    flex-grow:1;
    font-weight: bold;
    font-size: 1.3rem;
}

.prop-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.props{
    font-size: 1.2rem;
    margin-left: 10px;
}

.created-label, .created-prop{
    font-size: 10px;
}

.created-prop {
    margin-left: 10px;
}

.notes-link{
    cursor: pointer;
    border-bottom: 10px;
}

.annotations{
    position: absolute;
    z-index: 1;
    background-color: #F0F2F5;
    width: 100%;
    overflow-wrap: break-word;
    top:85%;
    border-radius: 12px;
    border:1px none gray;
    box-shadow: 1px 1px gray;
    padding:10px
}

@media screen and (min-width:1224px) {
    :host{
        background-color:white;
    } 
  }


