:host{
    margin:1px solid black;
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: rgb(40, 44, 52);
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top:20px;
    align-items: center;
}

.title{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
    
}

.label{
    color:rgb(97, 218, 251);
    font-family: Helvetica, Arial, sans-serif;
}

.input{
    -webkit-appearance: none;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #dddddd;
    height: 2.2rem;
}

.button{
    background-color: rgb(26, 32, 45);
    height: 2.5rem;
    color:white;
    border-radius: 4px;
}

#form2{
    margin-top: 40px;
}

.income-statement-container{
    background-color:white;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.profit-and-loss-container{
    display: flex;
    background-color:#ecf0f3;
    justify-content: space-around;
    width: 80%;
    padding:15px 0px;
    border-radius: 20px;
    margin-top: 30px;
    
}

.profit-and-loss-container__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income:hover{
    cursor: pointer;
}

.profit-and-loss-container__label{
    font-size: 1rem;
}

.profit-and-loss-container__amount{
    font-size:2rem;
    
}

.error-msg{
    background-color: #BA372A;
    color: white;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.money-symbol{
    display:inline-block;
}

.profit-and-loss-container__symbol{
    display:flex;
    align-items: center;
}

.table-container{
    display:flex;
    flex-direction: column;
    width: 80%;
    border-top: 1px solid #ecf0f3;
    margin-top: 30px;
 }

 .income-table__container{
     border-top: none;
 }

.table-container__row{
    display:flex;
    border-bottom: 1px solid #ecf0f3;
    align-items: center;
 }

 .income-title__row{
    border-bottom: 1px solid #ecf0f3;
 }

 .x-button__container{
    display:flex;
    border-bottom: 1px solid #ecf0f3;
    border-top: none;
 }

 .x-button{
     background-color: #ecf0f3;
     padding: 4px;
     cursor: pointer;
     flex-basis: 30px;
     text-align: center;
 }

 .concept{
    width: 75%;
    padding: 14px 10px;
    font-family: Helvetica, Arial;
    font-size: 1rem;
 }

 .expenditure{
    cursor: pointer;
 }

 .delete-button{
     display: flex;
     background-color: #BA372A;
     color: white;
     border-radius: 2px;
     flex-basis: 72px;
     height: 40px;
     align-items: center;
     justify-content: center;
 }

 .delete-button:hover{
     cursor: pointer;
 }

 .header{
     font-weight: bold;
     font-family: Helvetica;
 }

 .amount{
    padding: 14px 10px;
    flex-grow: 1;
    text-align: right;
    font-family: Helvetica, Arial;
    font-size: 1rem;
 }

 .total{
    font-weight: bold;
 }





