<div class="sidebar">
  <form class="form" #Form="ngForm" (ngSubmit)="onSubmit(Form)">
    <div class="form-group">
      <label class="label">Período </label>
      <input
        type="month"
        class="input"
        ngModel
        name="month"
        required
      />
    </div>
    <div class="form-group">
      <input class='button' type="submit" [disabled]="!Form.valid"/>
    </div>
    
  </form>
  <form class="form" #IncomeForm="ngForm" (ngSubmit)="onSubmitIncome(IncomeForm)" *ngIf='incomeArray'>
    <label class="label">Inserta un presupuesto o salario</label>
    <div>
      <label class="label">Tipo de ingreso</label>
      <input type="text" name="concept" ngModel required autocomplete="off">
    </div>
    <div class="form-group">
      <label class="label">Cantidad</label>
      <input type="number" name="amount" ngModel required>
    </div>
    <div class="form-group">
      <label class="label">Mes</label>
      <input type="month" name="month" ngModel required>
    </div>
    <div class="form-group">
      <input class='button' type="submit" [disabled]="!IncomeForm.valid"/>
    </div>
  </form>
</div>
<div class="income-statement-container">
    
    <div class="profit-and-loss-container">
        <div class="profit-and-loss-container__item income" (click)="getIncome()">
            <span class="profit-and-loss-container__label">Ingresos</span>
            <span class="profit-and-loss-container__amount">
              <div class="money-symbol">$</div>{{ totalIncome }}
            </span>
        </div>
        <div class="profit-and-loss-container__symbol">-</div>
        <div class="profit-and-loss-container__item">
            <span class="profit-and-loss-container__label">Gastos</span>
            <span class="profit-and-loss-container__amount">
              <div class="money-symbol">$</div>{{totalExpenditure}}
            </span>
        </div>
        <div class="profit-and-loss-container__symbol">=</div>
        <div class="profit-and-loss-container__item">
            <span class="profit-and-loss-container__label">Remanente</span>
            <span class="profit-and-loss-container__amount">
              <div class="money-symbol">$</div>{{profit}}
            </span>
        </div>
    </div>
    <div class="table-container" *ngIf='showIncomeTable'>
      <div class="table-container__row" *ngFor="let income of incomeArray">
        <div class="concept">{{ income.concept }}</div>
        <div class="amount">${{ income.amount }}</div>
      </div>
    </div>

    <div class="table-container">
      <div class="table-container__row" *ngFor="let ticket of expensesArray">
        <div class="concept">{{ ticket.concept }}</div>
        <div class="amount">${{ ticket.amount }}</div>
      </div>
      <div class="table-container__row" *ngIf="totalExpenditure">
        <div class="concept total">Gasto total</div>
        <div class="amount total">${{totalExpenditure}}</div>
      </div>
    </div>
</div>
