<div class="form-container">
    <h1>Ingresa tus tickets de compra</h1>
    <form #TicketForm="ngForm" (ngSubmit)="onSubmit(TicketForm)">
    <div class="form-group">
        <label class="label">Cantidad</label>
        <input type="text" name="amount" ngModel required>
    </div>
    <div class="form-group">
        <label class="label">Categoría</label>
        <input type="text" name="concept" ngModel required>
    </div>
    <div class="form-group">
        <label class="label">Producto</label>
        <input type="text" name="product" ngModel required>
    </div>
    <div class="form-group">
        <label class="label">Proveedor o Tienda</label>
        <input type="text" name="provider" ngModel required>
    </div>
    <div class="form-group">
        <label class="label" for="notes">Notas</label>
        <textarea type="text" name="notes" ngModel></textarea>
    </div>
    <div class="form-group">
        <label class="label">Fecha</label>
        <input type="date" name="date" ngModel required>
    </div>
    <input type="submit" value="Guardar" [disabled]='!TicketForm.valid'>
</form>
</div>
