:host {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    padding-bottom: 10px;
}

.success-msg {
    background-color: #6ebd7d;
    color: white;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 2rem;
    margin-left: 15px;
    
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.input-asterisk-container {
    display: flex;
}

.asterisk {
    color: red;
}

input[type='submit']{
    background-color: rgba(32,35,42,.9);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border-radius: .25rem;
}

@media screen and (min-width:640px) {
    input[type='submit']{
        margin-bottom: 20px;
    }
}

@media screen and (min-width:768px) {
    :host{
        background-color: rgb(64, 74, 83);
        padding-top: 0;
        height: 88vh;
        justify-content: center;
    }

    .form-container {
        background-color: white;
        width: 400px;
        align-self: center;
    }
}

@media screen and (min-width:1024px){
    :host{
        
        height: 120vh;
    }
}

/* :host{
    display: flex;
    height: 100vh;
    background-color: rgb(64, 74, 83);
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 40%;
    border: 1px solid black;
    text-align: center;
    
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    padding:3rem 2rem;
}

.label{
    text-align: left;
}

    
input[type='submit'] {
    width: 100%;
    padding:1rem;
    font-size: 1rem;
    color:white;
    background-color: rgb(26, 32, 45);
}

.error-msg{
    background-color: #BA372A;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.error-msg__graph{
    width: 90%;
    align-self: center;
}

.success-msg {
    background-color: #6ebd7d;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.input-asterisk-container {
    display: flex;
}
 */
