:host {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.success-msg {
    background-color: #6ebd7d;
    color: white;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5em;
}

.form-title {
    font-size: 1.5rem;
    align-self: flex-start;
    width: 95%;
    margin-left: 5%;
    /* text-align: center; */
    padding-left: 0;
    margin-bottom: 1em;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.input-asterisk-container {
    display: flex;
}

.asterisk {
    color: red;
}

input[type='submit']{
    background-color: rgba(32,35,42,.9);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border-radius: .25rem;
}

@media screen and (min-width:580px) {
    input[type='submit']{
        margin-bottom: 20px;
    }

    /* .form-container{
        padding-top: 1em;
    } */
}

@media screen and (min-width:768px) {
    :host{
        background-color: rgb(64, 74, 83);
        height: 90vh;
        justify-content: center;
    }

    .form-container {
        background-color: white;
        align-self: center;
    }
}

@media screen and (min-width:1024px){
    :host{
        min-height: 120vh;
    }
}

@media screen and (min-width:1224px){
    :host{
        justify-content: center;
        min-height: 90vh;
    }

    .form-container {
        width:40%;
        padding-top: 1em;
    }

    .form-title {
        align-self: flex-start;
        margin-left: 2.5%;
    }

    .form {
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 95%;
    }

    .form-group .label {
        width: 50%;
    }

    .input-asterisk-container {
        flex-grow: 1;
    }

    .text-area {
        width: 50%;
    }

    input[type='submit']{
        width: 40%;
        margin-left: 2.5%;
        align-self: flex-start;
    }
}

/* :host{
    display: flex;
    height: 100vh;
    background-color: rgb(64, 74, 83);
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 40%;
    border: 1px solid black;
    text-align: center;
    
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    padding:3rem 2rem;
}

.label{
    text-align: left;
}

    
input[type='submit'] {
    width: 100%;
    padding:1rem;
    font-size: 1rem;
    color:white;
    background-color: rgb(26, 32, 45);
}

.error-msg{
    background-color: #BA372A;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.error-msg__graph{
    width: 90%;
    align-self: center;
}

.success-msg {
    background-color: #6ebd7d;
    color: white;
    width: 80%;
    padding: 20px 15px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.input-asterisk-container {
    display: flex;
}
 */
